<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple File Upload</title>
</head>
<body>

    <form action="/product/submit" method="post" enctype="multipart/form-data" >
        <label for="fileInput">Select multiple files:</label>
        <input type="file" id="fileInput" name="images[]" >
        <input type="text" name="name" placeholder="Enter Product Name"><br><br>
        <button type="submit">Upload</button>
    </form>

</body>
</html>
